@use "../colors" as *;
@use "../fonts" as *;

footer {
  background-color: $pryColor;
  margin-top: 100px;
  color: #000;
  padding: 10px;
  //   height: 250px;
}

.footerImg {
  width: 252px;
  height: 84px;
  transform: translateX(-20px);
}

footer ul li a:link {
  color: #000 !important;
  text-decoration: none;
  @include footerText;
}

footer ul li a:active {
  color: #000 !important;
}

footer ul li a:visited {
  color: #000 !important;
}
