@use "../colors" as *;
@use "../fonts" as *;

.heroText {
  @include h1Font;
  color: $secondaryBtnColor;
  display: none;
}

.heroText1 {
  display: block;
  @include h1Font;
  color: $secondaryBtnColor;
  margin-top: 180px;
  //   margin-left: 50px;
  transform: translateX(70px);
}

.hero {
  background-image: url(../../assets/Images/heroImage.png);
  // background: $pryColor;
  background-repeat: no-repeat;
}
.heroimage {
  margin-top: 80px;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.heroimage1 {
  // margin-bottom: 200px !important;
  width: 375px;
  height: 431px;
}

@media screen and (max-width: 600px) {
}
@media screen and (max-width: 992px) {
  .heroText {
    display: block;
    @include smallH1Font;
    margin-top: 50px;
  }
  .heroText1 {
    display: none;
  }
  .heroimage2 {
    width: 118.5px;
    height: 255.5px;
  }
  .heroimage1 {
    width: 208.5px;
    height: 239.5px;
  }
  .heroimage {
    margin-top: 0px;
    display: flex;
    justify-content: center;
  }
}
